/* ----------- FONTS ETC  ---------- */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Kanit:wght@900&family=Kodchasan:wght@600&display=swap");

/* ----------- GLOBAL STYLES  ---------- */
body {
  background: #191819;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin: 0;
  margin-bottom: 100px;
}

p {
  font-family: "Kodchasan", sans-serif;
  font-weight: 600;
  line-height: 1.5;
}

h1,
h2 {
  font-family: "Kanit";
  font-weight: 900;
  letter-spacing: 0.125em;
  text-transform: uppercase;
}

h3 {
  font-family: "Kodchasan", sans-serif;
  font-weight: 600;
  line-height: 1.5;
  font-size: 22px;
  text-transform: capitalize;
  text-decoration: underline;
}

h2 {
  font-size: 36px;
}

section,
header,
nav,
footer {
  margin: 20px;
  margin: 0 130px;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 6px 35px;
  font-size: 18px;
  /* position: absolute; */
  width: 170px;
  height: 58px;
  left: 981px;
  top: 420.36px;
  border: 2px solid #e7eaee;
  border-radius: 36px;
  transform: rotate(-19.69deg);
}

/* ----------- NAV ---------- */
nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

nav ul li {
  list-style-type: none;
  margin: 20px;
  text-transform: uppercase;
}

nav a {
    text-decoration: none;
    color: white;
}

.logo {
  background: white;
  color: black;
  padding: 10px;
}

/* ----------- HERO ---------- */

header,
.about-container {
  display: grid;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr;
  gap: 0px 100px;
  grid-template-areas: "text image";
  margin-top: 80px;
}

header {
  /* width: 100%; */
  height: auto;
}

.header-left {
  grid-area: text;
  display: flex;
  align-content: flex-end;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 47px;
  position: relative;
}

.header-right {
  grid-area: image;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

svg.title {
  width: 100%;
  height: auto;
}

.icon-wrap {
  display: flex;
  justify-content: flex-end;
  gap: 28px;
}

.contact-hand:hover .icon-hand {
  animation: wiggle 0.5s infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(6deg);
  }
  80% {
    transform: rotate(-6deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* ----------- DIVIDER ---------- */

.arrow a {
  color: white;
  text-decoration: none;
}

.arrow {
  text-align: center;
  margin: 8% 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* ----------- ABOUT ---------- */


.profile-img-wrap {
  display: flex;
  gap: 43px;
  margin-bottom: 45px;
}

.social-icons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-profile {
  grid-area: image;
}

#read-more {
  display: none;
}

.contact {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 20px;
}

.contact.contact-sm {
  display: none;
}

/* ----------- SKILLS  ---------- */

.skills-icon-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 125px;
  justify-content: space-between;
  margin: 74px 0;
}

.skills-list-wrap {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "skills1 skills2 skills3";
}

.skills-Martech {
  grid-area: skills1;
}

.skills-Programming {
  grid-area: skills2;
}

.skills-Design {
  grid-area: skills3;
}
/* 
.skill-wrap-1 {
    width: 100%;
    
}

.skill-wrap-1 li {
    list-style-type: none;
}

.skill-wrap-1 ul {
    padding-inline-start: 0;
} */

.skill-wrap {
  display: flex;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
}

/* ----------- PROJECTS SECTION  ---------- */

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 110px;
  margin: 74px 0;
}

.project-card {
  display: flex;
  width: 45%;
  gap: 40px;
}

.project-img-wrap {
    position: relative;
}

.project-img {
    /* max-width: 50%;
    height: fit-content; */
    border-radius: 20px;
    object-fit: cover;
}

.project-gif {
    display: none;
}

.project-gif.active {
    position: absolute;
    top: 0;
    margin: auto;
    display: block;
    max-width: 100%;
    height: fit-content;
    border-radius: 20px;
    object-fit: cover; 
}


img.tech-icon {
  margin-right: 20px;
  max-width: 35px;

}

.project-btn {
  position: relative;
  border: 2px solid #e7eaee;
  border-radius: 36px;
  padding: 19px 35px;
  width: 100px;
  text-transform: uppercase;
  display: grid;
  place-content: center;
  margin-top: 20px;
  text-decoration: none;
    color: white;
}

svg.lilac-arrow {
  position: absolute;
  right: -84px;
  top: 50%;
  bottom: 50%;
  margin: auto;
}

/* ----------- ICON SECTION  ---------- */

.icon-hand {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='158' height='158' viewBox='0 0 158 158' fill='none'%3E%3Cg clip-path='url(%23clip0_3_2101)'%3E%3Cpath d='M134.914 66.6672C126.729 58.229 116.244 52.3835 104.763 49.8577C96.3334 47.7392 87.6898 46.5907 78.9998 46.4344V23.1733C78.8624 19.2305 77.1692 15.5027 74.2905 12.805C71.4119 10.1073 67.5821 8.6593 63.6387 8.77773C59.6954 8.6593 55.8656 10.1073 52.9869 12.805C50.1083 15.5027 48.4151 19.2305 48.2776 23.1733V67.0622L41.2554 60.1277C38.1621 57.0934 34.0018 55.3936 29.6687 55.3936C25.3356 55.3936 21.1754 57.0934 18.0821 60.1277C16.5322 61.6251 15.2986 63.4182 14.4543 65.4009C13.6099 67.3835 13.172 69.5155 13.1665 71.6705C13.086 75.8487 14.6641 79.8887 17.5554 82.9061L38.0076 107.133C38.9943 113.323 41.1225 119.276 44.2837 124.688C46.5934 128.851 49.5571 132.615 53.0615 135.836V144.263C53.0477 145.464 53.4951 146.625 54.3115 147.507C55.1279 148.389 56.2513 148.924 57.4504 149.003H118.5C119.699 148.924 120.822 148.389 121.639 147.507C122.455 146.625 122.903 145.464 122.889 144.263V132.413C131.513 122.144 136.183 109.131 136.055 95.7216V69.3883C136 68.3767 135.597 67.4153 134.914 66.6672ZM127.278 95.9411C127.558 107.61 123.491 118.966 115.867 127.804C114.898 128.594 114.269 129.725 114.111 130.964V140.444H62.0587V133.949C62.0598 133.23 61.8843 132.522 61.5476 131.887C61.2108 131.251 60.7232 130.709 60.1276 130.306C56.8385 127.609 54.1225 124.282 52.1398 120.519C49.3441 115.785 47.5515 110.526 46.8732 105.07C46.8261 104.12 46.4718 103.212 45.8637 102.48L24.2704 76.9372C23.5671 76.2431 23.0087 75.4163 22.6275 74.5046C22.2464 73.593 22.0501 72.6147 22.0501 71.6266C22.0501 70.6385 22.2464 69.6602 22.6275 68.7486C23.0087 67.837 23.5671 67.0101 24.2704 66.3161C25.7155 64.8928 27.6624 64.095 29.6907 64.095C31.719 64.095 33.6659 64.8928 35.111 66.3161L48.2776 79.4827V93.2638L57.0554 88.8749V23.1733C57.2115 21.5666 57.985 20.0832 59.2129 19.0353C60.4409 17.9875 62.0275 17.457 63.6387 17.5555C65.25 17.457 66.8366 17.9875 68.0645 19.0353C69.2925 20.0832 70.0659 21.5666 70.2221 23.1733V74.9622L78.9998 76.8494V55.2561C82.6831 55.3287 86.36 55.5924 90.0159 56.0461V78.9999L97.0382 80.5361V57.0555C98.8376 57.4066 100.681 57.8016 102.568 58.2844C104.844 58.8798 107.085 59.5977 109.283 60.4349V83.0377L116.305 84.5738V63.6388C120.295 65.6526 123.987 68.2077 127.278 71.2316V95.9411Z' fill='%23D9D9D9'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3_2101'%3E%3Crect width='158' height='158' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
.icon-react {
  background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.4693 33.3163C22.2943 33.3538 23.1373 33.3808 23.9908 33.3808C24.8533 33.3808 25.7053 33.3628 26.5408 33.3163C25.7053 34.3963 24.8803 35.3518 24.0073 36.2623L24.0193 36.2503C23.1508 35.3503 22.3168 34.3933 21.5308 33.3973L21.4693 33.3163ZM12.9223 32.1163C14.5468 32.5288 16.5283 32.8798 18.5503 33.0958L18.7468 33.1123C19.9843 34.8118 21.2353 36.3073 22.5778 37.7143L22.5613 37.6963C20.5948 39.8908 17.9413 41.4328 14.9398 41.9863L14.8573 41.9983C14.8513 41.9983 14.8453 41.9983 14.8393 41.9983C14.4673 41.9983 14.1163 41.9068 13.8088 41.7448L13.8208 41.7508C12.5728 41.0383 12.0313 38.3128 12.4528 34.8103C12.5533 33.9478 12.7183 33.0403 12.9208 32.1148L12.9223 32.1163ZM35.0968 32.0968C35.2738 32.8078 35.4403 33.7138 35.5588 34.6348L35.5723 34.7638C36.0028 38.2648 35.4718 40.9873 34.2343 41.7148C33.9583 41.8678 33.6283 41.9578 33.2773 41.9578C33.2428 41.9578 33.2083 41.9563 33.1738 41.9548H33.1783C30.0988 41.3923 27.4468 39.8608 25.4848 37.6933L25.4743 37.6813C26.7928 36.2968 28.0348 34.8043 29.1733 33.2338L29.2603 33.1078C31.4743 32.8768 33.4588 32.5198 35.3923 32.0323L35.0968 32.0953V32.0968ZM14.6758 26.4988C15.0508 27.2338 15.4438 27.9658 15.8758 28.7008C16.3068 29.4318 16.7473 30.1458 17.1973 30.8428C15.8953 30.6523 14.6383 30.4123 13.4368 30.1198C13.7743 28.9393 14.1973 27.7168 14.6743 26.4958L14.6758 26.4988ZM33.3178 26.4613C33.8143 27.6928 34.2358 28.9213 34.5853 30.1123C33.3853 30.4063 32.1178 30.6553 30.8068 30.8428C31.2568 30.1393 31.7068 29.4148 32.1283 28.6723C32.5498 27.9418 32.9443 27.1948 33.3208 26.4598L33.3178 26.4613ZM11.4283 18.4378C12.0823 20.6548 12.7843 22.5088 13.6018 24.2968L13.4893 24.0238C12.7903 25.5313 12.0988 27.3748 11.5318 29.2723L11.4538 29.5798C10.3948 29.2543 9.54283 28.9348 8.71333 28.5763L8.88583 28.6423C5.63982 27.2608 3.53982 25.4443 3.53982 24.0043C3.53982 22.5643 5.63982 20.7388 8.88583 19.3633C9.67333 19.0258 10.5373 18.7213 11.4283 18.4378ZM36.5368 18.4303C37.4443 18.7108 38.3068 19.0243 39.1138 19.3633C42.3598 20.7508 44.4598 22.5643 44.4598 24.0043C44.4508 25.4443 42.3508 27.2653 39.1048 28.6438C38.3173 28.9813 37.4548 29.2843 36.5653 29.5678C35.9053 27.3433 35.2033 25.4908 34.3888 23.6998L34.5028 23.9818C35.1988 22.4758 35.8918 20.6323 36.4573 18.7348L36.5368 18.4258V18.4303ZM30.7948 17.1658C32.0983 17.3593 33.3538 17.5963 34.5553 17.8918C34.2178 19.0768 33.7963 20.2948 33.3178 21.5158C32.9428 20.7853 32.5498 20.0488 32.1178 19.3153C31.6963 18.5803 31.2463 17.8648 30.7963 17.1673L30.7948 17.1658ZM17.1868 17.1658C16.7368 17.8723 16.2868 18.5953 15.8668 19.3408C15.4453 20.0713 15.0508 20.8063 14.6758 21.5413C14.1793 20.3113 13.7578 19.0858 13.4083 17.8918C14.6083 17.6113 15.8728 17.3608 17.1853 17.1688L17.1868 17.1658ZM23.9998 16.6888C25.3873 16.6888 26.7688 16.7518 28.1278 16.8628C28.8888 17.9538 29.6278 19.1158 30.3448 20.3488C31.0418 21.5488 31.6778 22.7648 32.2528 23.9968C31.6753 25.2253 31.0423 26.4523 30.3538 27.6523C29.6413 28.8898 28.9048 30.0673 28.1413 31.1578C26.7763 31.2763 25.3933 31.3408 23.9983 31.3408C22.6108 31.3408 21.2293 31.2748 19.8703 31.1668C19.1098 30.0763 18.3673 28.9093 17.6533 27.6808C16.9563 26.4808 16.3203 25.2648 15.7453 24.0328C16.3138 22.8013 16.9558 21.5713 17.6443 20.3698C18.3568 19.1323 19.0933 17.9593 19.8568 16.8688C21.2218 16.7488 22.6048 16.6858 23.9998 16.6858V16.6888ZM23.9713 11.7673C24.8413 12.6673 25.6753 13.6228 26.4598 14.6188L26.5198 14.6983C25.6948 14.6608 24.8518 14.6353 23.9983 14.6353C23.1358 14.6353 22.2838 14.6533 21.4483 14.6983C22.2823 13.6183 23.1073 12.6628 23.9818 11.7523L23.9698 11.7643L23.9713 11.7673ZM14.8198 6.04932C17.8993 6.61332 20.5498 8.14482 22.5133 10.3108L22.5238 10.3228C21.2053 11.7088 19.9633 13.2013 18.8248 14.7748L18.7378 14.9008C16.5253 15.1303 14.5408 15.4843 12.6088 15.9718L12.9028 15.9088C12.6928 14.9908 12.5368 14.1013 12.4273 13.2478C11.9968 9.74682 12.5278 7.02432 13.7653 6.29982C14.0743 6.15432 14.4358 6.06432 14.8168 6.05232H14.8213L14.8198 6.04932ZM33.1348 6.01182V6.02382C33.1543 6.02382 33.1768 6.02232 33.2008 6.02232C33.5593 6.02232 33.8968 6.11082 34.1938 6.26682L34.1818 6.26082C35.4298 6.97632 35.9713 9.70032 35.5498 13.2043C35.4493 14.0668 35.2843 14.9758 35.0818 15.9028C33.4543 15.4858 31.4728 15.1333 29.4508 14.9188L29.2588 14.9023C28.0198 13.2013 26.7688 11.7058 25.4263 10.2973L25.4443 10.3153C27.4108 8.12532 30.0598 6.58332 33.0553 6.02682L33.1393 6.01332L33.1348 6.01182ZM33.1438 3.96882C29.4808 4.52532 26.3098 6.30432 23.9938 8.87082L23.9818 8.88432C21.6493 6.31932 18.4783 4.55232 14.9053 4.01682L14.8213 4.00632C14.8018 4.00632 14.7778 4.00632 14.7538 4.00632C14.0173 4.00632 13.3258 4.19982 12.7273 4.53882L12.7483 4.52832C10.1713 6.01482 9.59383 10.6468 10.9243 16.4593C5.21833 18.2218 1.50732 21.0388 1.50732 24.0073C1.50732 26.9878 5.23783 29.8123 10.9603 31.5613C9.64033 37.3963 10.2298 42.0358 12.8128 43.5208C13.3798 43.8463 14.0608 44.0368 14.7853 44.0368C14.8183 44.0368 14.8513 44.0368 14.8828 44.0353H14.8783C18.5413 43.4788 21.7123 41.6983 24.0283 39.1303L24.0403 39.1168C26.3728 41.6833 29.5438 43.4503 33.1168 43.9858L33.2008 43.9963C33.2233 43.9963 33.2518 43.9963 33.2788 43.9963C34.0108 43.9963 34.6993 43.8043 35.2948 43.4698L35.2738 43.4803C37.8493 41.9953 38.4283 37.3633 37.0978 31.5493C42.7828 29.8018 46.4938 26.9788 46.4938 24.0058C46.4938 21.0253 42.7633 18.2008 37.0408 16.4473C38.3608 10.6183 37.7713 5.97432 35.1883 4.48782C34.6153 4.15932 33.9283 3.96582 33.1963 3.96582C33.1768 3.96582 33.1573 3.96582 33.1378 3.96582H33.1408L33.1438 3.96882ZM28.1803 24.0073C28.1803 26.3218 26.3038 28.1983 23.9893 28.1983C21.6748 28.1983 19.7983 26.3218 19.7983 24.0073C19.7983 21.6928 21.6748 19.8163 23.9893 19.8163C25.1473 19.8163 26.1943 20.2858 26.9533 21.0433C27.7123 21.8023 28.1803 22.8493 28.1803 24.0073Z' fill='black'/%3E%3C/svg%3E%0A");
}
.icon-figma {
  background-image: url("data:image/svg+xml, %3Csvg class='figma-icon icon' width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M22 4H18C13.5817 4 10 7.58172 10 12C10 14.3894 11.0475 16.5341 12.7084 18C11.0475 19.4659 10 21.6106 10 24C10 26.3894 11.0475 28.5342 12.7084 30C11.0475 31.4658 10 33.6106 10 36C10 40.4182 13.5817 44 18 44C22.4182 44 26 40.4182 26 36V32V30.9298C27.1766 31.6104 28.5428 32 30 32C34.4182 32 38 28.4182 38 24C38 21.6106 36.9524 19.4659 35.2916 18C36.9524 16.5341 38 14.3894 38 12C38 7.58172 34.4182 4 30 4H26H24H22ZM26 8V16H30C32.2092 16 34 14.2091 34 12C34 9.79086 32.2092 8 30 8H26ZM22 20H18C15.7909 20 14 21.7908 14 24C14 26.2092 15.7909 28 18 28H22V24V20ZM18 16H22V8H18C15.7909 8 14 9.79086 14 12C14 14.2091 15.7909 16 18 16ZM26 24C26 26.2092 27.7908 28 30 28C32.2092 28 34 26.2092 34 24C34 21.7908 32.2092 20 30 20C27.7908 20 26 21.7908 26 24ZM18 32H22V36C22 38.2092 20.2092 40 18 40C15.7909 40 14 38.2092 14 36C14 33.7908 15.7909 32 18 32Z' fill='black'/%3E%3C/svg%3E ");
}
.icon-adobe {
  background-image: url("data:image/svg+xml,%3Csvg class='adobe-icon icon' width='46' height='40' viewBox='0 0 46 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M45.4938 0.0859375H28.8409L45.4938 39.9139V0.0859375ZM17.1589 0.0859375H0.505859V39.9139L17.1589 0.0859375ZM26.6854 39.9139L23.5174 31.8889H15.7309L23.0269 14.7484L33.6394 39.9124L26.6854 39.9139Z' fill='%23D9D9D9'/%3E%3C/svg%3E");
}
.icon-js {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48' fill='none'%3E%3Cg clip-path='url(%23clip0_3_2114)'%3E%3Cpath d='M40.8 0H7.2C3.22355 0 0 3.22355 0 7.2V40.8C0 44.7765 3.22355 48 7.2 48H40.8C44.7765 48 48 44.7765 48 40.8V7.2C48 3.22355 44.7765 0 40.8 0Z' fill='black'/%3E%3Cpath d='M30.375 34.6875C31.3125 36.2812 32.625 37.4062 34.7812 37.4062C36.6562 37.4062 37.875 36.4688 37.875 35.1562C37.875 33.6562 36.6562 33.0938 34.5938 32.1562L33.4688 31.6875C30.1875 30.2812 28.0312 28.5938 28.0312 24.9375C28.0312 21.5625 30.5625 18.9375 34.5938 18.9375C37.5 18.9375 39.5625 19.9688 40.9688 22.5938L37.5 24.8438C36.75 23.4375 35.9062 22.875 34.5938 22.875C33.2812 22.875 32.4375 23.7188 32.4375 24.8438C32.4375 26.1562 33.2812 26.7188 35.25 27.5625L36.375 28.0312C40.2188 29.7188 42.375 31.3125 42.375 35.1562C42.375 39.1875 39.1875 41.4375 34.875 41.4375C30.6562 41.4375 27.9375 39.4688 26.625 36.8438L30.375 34.6875ZM14.4375 35.0625C15.1875 36.2812 15.75 37.4062 17.3438 37.4062C18.8438 37.4062 19.7812 36.8438 19.7812 34.5938V19.0312H24.2812V34.4062C24.2812 39.0938 21.5625 41.1562 17.5312 41.1562C13.875 41.1562 11.8125 39.2812 10.7812 37.0312L14.4375 35.0625Z' fill='grey'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3_2114'%3E%3Crect width='48' height='48' fill='grey'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
.icon-html {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48' fill='none'%3E%3Cg clip-path='url(%23clip0_3_2203)'%3E%3Cmask id='mask0_3_2203' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='0' y='0' width='48' height='48'%3E%3Cpath d='M48 0H0V48H48V0Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_3_2203)'%3E%3Cpath d='M10.1611 0H12.3246V2.1375H14.3037V0H16.4672V6.47288H14.3038V4.30538H12.3247V6.47288H10.1612L10.1611 0Z' fill='%23D9D9D9'/%3E%3Cpath d='M19.3124 2.1465H17.4077V0H23.3815V2.1465H21.4759V6.47288H19.3124L19.3124 2.1465Z' fill='%23D9D9D9'/%3E%3Cpath d='M24.3296 0H26.5856L27.9732 2.27438L29.3594 0H31.6162V6.47288H29.4616V3.26456L27.9732 5.56604H27.936L26.4464 3.26456V6.47288H24.3296V0Z' fill='%23D9D9D9'/%3E%3Cpath d='M32.6929 0H34.8571V4.33332H37.8995V6.47288H32.6929V0Z' fill='%23D9D9D9'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.0919 44.1448L6 9.43311H42L37.9054 44.1394L23.9794 48L10.0919 44.1448ZM18.3669 25.1453L17.9778 20.7857H34.2686L34.6498 16.5285H13.3252L14.4734 29.4025H29.2276L28.7336 34.9238L23.9854 36.2054L23.982 36.2068L19.2408 34.9266L18.9377 31.5312H14.6641L15.2605 38.2158L23.9812 40.6366L32.713 38.2156L33.7774 26.2886L33.8812 25.1453H18.3669Z' fill='%23D9D9D9'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3_2203'%3E%3Crect width='48' height='48' fill='black'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
.icon-css {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48' fill='none'%3E%3Cpath d='M19.1309 4.37635V6.44053H13.8526V0.046875H19.1309V2.30906H16.1148V4.37635H19.1309ZM24.5569 2.30906H26.6655V0.046875H21.3866C21.3866 0.046875 21.3866 1.18238 21.3866 2.30906C22.0929 3.01528 22.4611 3.35335 23.4825 4.37475C22.8854 4.37475 21.3866 4.37672 21.3866 4.37672V6.44053H26.6655V4.37635L24.5569 2.30906ZM32.0386 2.30906H34.147V0.046875H28.8684C28.8684 0.046875 28.8684 1.18238 28.8684 2.30906C29.5744 3.01528 29.9428 3.35335 30.9641 4.37475C30.3674 4.37475 28.8684 4.37672 28.8684 4.37672V6.44053H34.1471V4.37635L32.0386 2.30906ZM41.0994 9.47916L37.8929 44.2122L23.9998 47.9529L10.1065 44.2122L6.90039 9.47916H41.0994ZM34.6384 16.5415H23.9873H13.1479L13.6662 20.7358H23.9873H24.567L23.9873 20.9771L14.0435 25.1187L14.3733 29.2184L23.9873 29.2496L29.14 29.266L28.81 34.7327L23.9873 36.0906V36.0863L23.9477 36.0971L19.2898 34.9213L19.0072 31.528H18.9918H14.6713H14.6561L15.2216 38.0789L23.9873 40.671V40.6663L24.003 40.671L32.7218 38.1261L33.853 25.1188H23.9873H23.9629L23.9873 25.1083L34.2141 20.7359L34.6384 16.5415Z' fill='black'/%3E%3C/svg%3E");
}
.icon-bs {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48' fill='none'%3E%3Cg clip-path='url(%23clip0_3_2221)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.96976 4C7.23092 4 5.20434 6.39716 5.29506 8.99688C5.3821 11.4945 5.26902 14.7292 4.45464 17.3672C3.63784 20.0128 2.2564 21.6888 0 21.904V24.3332C2.2564 24.5484 3.63784 26.2244 4.45464 28.8702C5.26902 31.508 5.3821 34.7428 5.29506 37.2404C5.20434 39.8398 7.23092 42.2372 9.97016 42.2372H38.0338C40.7728 42.2372 42.799 39.8402 42.7082 37.2404C42.6212 34.7428 42.7342 31.508 43.5486 28.8702C44.3658 26.2244 45.7436 24.5484 48 24.3332V21.904C45.7436 21.6888 44.3658 20.0128 43.5486 17.3672C42.7342 14.7296 42.6212 11.4945 42.7082 8.99688C42.799 6.39756 40.7728 4 38.0338 4H9.96976ZM32.5424 27.5374C32.5424 31.1172 29.8722 33.2882 25.4412 33.2882H17.8983C17.6825 33.2882 17.4756 33.2024 17.323 33.0498C17.1705 32.8972 17.0847 32.6904 17.0847 32.4746V13.7627C17.0847 13.5469 17.1705 13.34 17.323 13.1874C17.4756 13.0349 17.6825 12.9492 17.8983 12.9492H25.3982C29.0928 12.9492 31.5176 14.9505 31.5176 18.0233C31.5176 20.18 29.8866 22.111 27.8082 22.449V22.5618C30.6374 22.8722 32.5424 24.8312 32.5424 27.5374ZM24.6188 15.5281H20.3178V21.603H23.9402C26.7404 21.603 28.2846 20.4754 28.2846 18.4598C28.2846 16.5711 26.9568 15.5281 24.6188 15.5281ZM20.3178 24.0136V30.7084H24.777C27.6924 30.7084 29.2368 29.5384 29.2368 27.3398C29.2368 25.1408 27.6492 24.0132 24.5894 24.0132L20.3178 24.0136Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3_2221'%3E%3Crect width='48' height='48' fill=''/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
.icon-sm-squiggle {
  width: 243px;
  position: absolute;
  bottom: -65px;
  right: -20px;
  height: 35px;
  align-self: flex-end;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='243' height='35' viewBox='0 0 243 35' fill='none'%3E%3Cmask id='mask0_23_169' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='243' height='35'%3E%3Crect width='243' height='35' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_23_169)'%3E%3Cpath d='M593 27.2589C582.075 27.2589 582.075 5.01266 571.15 5.01266C560.225 5.01266 560.225 27.2589 549.3 27.2589C538.375 27.2589 538.375 5.01266 527.45 5.01266C516.525 5.01266 516.525 27.2589 505.6 27.2589C494.675 27.2589 494.675 5.01266 483.75 5.01266C472.825 5.01266 472.825 27.2589 461.9 27.2589C450.975 27.2589 450.975 5.01266 440.05 5.01266C429.125 5.01266 429.125 27.2589 418.2 27.2589C407.275 27.2589 407.275 5.01266 396.35 5.01266C385.425 5.01266 385.425 27.2589 374.5 27.2589C363.575 27.2589 363.575 5.01266 352.65 5.01266C341.726 5.01266 341.726 27.2589 330.801 27.2589C319.876 27.2589 319.876 5.01266 308.951 5.01266C298.026 5.01266 298.026 27.2589 287.101 27.2589C276.176 27.2589 276.176 5.01266 265.251 5.01266C254.326 5.01266 254.326 27.2589 243.401 27.2589C232.476 27.2589 232.476 5.01266 221.551 5.01266C210.626 5.01266 210.626 27.2589 199.693 27.2589C188.769 27.2589 188.769 5.01266 177.844 5.01266C166.919 5.01266 166.919 27.2589 155.994 27.2589C145.069 27.2589 145.069 5.01266 134.144 5.01266C123.219 5.01266 123.219 27.2589 112.286 27.2589C101.354 27.2589 101.361 5.01266 90.4291 5.01266C79.4968 5.01266 79.5041 27.2589 68.5718 27.2589C57.6395 27.2589 57.6468 5 46.7145 5C35.7822 5 35.7822 27.2463 24.8573 27.2463C13.9323 27.2463 13.9323 5 3 5' stroke='%23B2B2EB' stroke-width='7.09329' stroke-miterlimit='10'/%3E%3C/g%3E%3C/svg%3E");
}
.icon-li {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' viewBox='0 0 33 33' fill='none'%3E%3Cg clip-path='url(%23clip0_3_2337)'%3E%3Crect width='33' height='33' fill='%23191819'/%3E%3Cpath d='M0 2.36388C0 1.05909 1.09235 0 2.43891 0H30.5611C31.9082 0 33 1.05909 33 2.36388V30.6365C33 31.9417 31.9082 33 30.5611 33H2.43891C1.09248 33 0 31.9418 0 30.6369V2.3635V2.36388Z' fill='%23D9D9D9'/%3E%3Cpath d='M10.0285 27.6166V12.7599H5.09039V27.6166H10.029H10.0285ZM7.56049 10.7318C9.28216 10.7318 10.354 9.59102 10.354 8.16531C10.3218 6.70712 9.28216 5.59814 7.59323 5.59814C5.90314 5.59814 4.79932 6.70712 4.79932 8.16518C4.79932 9.59089 5.87078 10.7317 7.52813 10.7317H7.5601L7.56049 10.7318ZM12.7619 27.6166H17.6996V19.3209C17.6996 18.8774 17.7318 18.4328 17.8623 18.1161C18.2191 17.2286 19.0316 16.3099 20.3961 16.3099C22.1825 16.3099 22.8975 17.6721 22.8975 19.6696V27.6166H27.8351V19.0982C27.8351 14.5351 25.3993 12.4116 22.1505 12.4116C19.4869 12.4116 18.3171 13.9004 17.6671 14.9143H17.7V12.7604H12.7621C12.8266 14.1542 12.7617 27.6171 12.7617 27.6171L12.7619 27.6166Z' fill='%23191819'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3_2337'%3E%3Crect width='33' height='33' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
.icon-ig {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' viewBox='0 0 33 33' fill='none'%3E%3Cpath d='M4.71429 0H28.2857C30.8786 0 33 2.12143 33 4.71429V28.2857C33 30.8786 30.8786 33 28.2857 33H4.71429C2.12143 33 0 30.8786 0 28.2857V4.71429C0 2.12143 2.12143 0 4.71429 0Z' fill='%23D9D9D9'/%3E%3Cpath d='M4.71429 0H28.2857C30.8786 0 33 2.12143 33 4.71429V28.2857C33 30.8786 30.8786 33 28.2857 33H4.71429C2.12143 33 0 30.8786 0 28.2857V4.71429C0 2.12143 2.12143 0 4.71429 0Z' fill='%23D9D9D9'/%3E%3Cpath d='M22.7463 9.0752C22.0392 9.0752 21.332 9.66448 21.332 10.4895C21.332 11.3145 21.9213 11.9038 22.7463 11.9038C23.5713 11.9038 24.1606 11.3145 24.1606 10.4895C24.0427 9.66448 23.4535 9.0752 22.7463 9.0752Z' fill='%23191819'/%3E%3Cpath d='M16.5001 10.8428C13.318 10.8428 10.7251 13.4356 10.7251 16.6178C10.7251 19.7999 13.318 22.3928 16.5001 22.3928C19.6822 22.3928 22.2751 19.7999 22.2751 16.6178C22.393 13.4356 19.8001 10.8428 16.5001 10.8428ZM16.5001 20.3892C14.4965 20.3892 12.7287 18.7392 12.7287 16.6178C12.7287 14.6142 14.3787 12.8463 16.5001 12.8463C18.5037 12.8463 20.2715 14.4963 20.2715 16.6178C20.2715 18.7392 18.6215 20.3892 16.5001 20.3892Z' fill='%23191819'/%3E%3Cpath d='M21.2144 4.71436H11.7858C7.8965 4.71436 4.71436 7.8965 4.71436 11.7858V21.2144C4.71436 25.1036 7.8965 28.2858 11.7858 28.2858H21.2144C25.1036 28.2858 28.2858 25.1036 28.2858 21.2144V11.7858C28.2858 7.8965 25.1036 4.71436 21.2144 4.71436ZM26.0465 21.2144C26.0465 23.9251 23.8072 26.0465 21.2144 26.0465H11.7858C9.07507 26.0465 6.95364 23.8072 6.95364 21.2144V11.7858C6.95364 9.07507 9.19293 6.95364 11.7858 6.95364H21.2144C23.9251 6.95364 26.0465 9.19293 26.0465 11.7858V21.2144Z' fill='%23191819'/%3E%3C/svg%3E");
}
.icon-gh {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' viewBox='0 0 33 33' fill='none'%3E%3Cpath d='M4.71429 0H28.2857C30.8786 0 33 2.12143 33 4.71429V28.2857C33 30.8786 30.8786 33 28.2857 33H4.71429C2.12143 33 0 30.8786 0 28.2857V4.71429C0 2.12143 2.12143 0 4.71429 0Z' fill='%23D9D9D9'/%3E%3Cg clip-path='url(%23clip0_3_2348)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.4598 3C9.01687 3 3 8.95833 3 16.3296C3 22.2219 6.85521 27.2095 12.2034 28.9748C12.8721 29.1075 13.117 28.688 13.117 28.3351C13.117 28.0261 13.095 26.9669 13.095 25.8632C9.35079 26.6578 8.57109 24.2742 8.57109 24.2742C7.96938 22.7294 7.07783 22.3324 7.07783 22.3324C5.85236 21.5158 7.16709 21.5158 7.16709 21.5158C8.52646 21.6041 9.23976 22.884 9.23976 22.884C10.4429 24.9142 12.3817 24.3406 13.1616 23.9874C13.2729 23.1267 13.6297 22.5309 14.0086 22.1999C11.0223 21.8909 7.88039 20.7434 7.88039 15.6233C7.88039 14.1667 8.41488 12.9751 9.2618 12.0483C9.12817 11.7173 8.66008 10.3488 9.39569 8.51715C9.39569 8.51715 10.5322 8.16398 13.0947 9.8854C14.1918 9.59362 15.3232 9.44519 16.4598 9.44394C17.5963 9.44394 18.7548 9.59858 19.8246 9.8854C22.3874 8.16398 23.5239 8.51715 23.5239 8.51715C24.2595 10.3488 23.7911 11.7173 23.6575 12.0483C24.5267 12.9751 25.0392 14.1667 25.0392 15.6233C25.0392 20.7434 21.8972 21.8687 18.8887 22.1999C19.3791 22.6192 19.8023 23.4135 19.8023 24.6715C19.8023 26.459 19.7802 27.8936 19.7802 28.3348C19.7802 28.688 20.0254 29.1075 20.6938 28.9751C26.042 27.2092 29.8972 22.2219 29.8972 16.3296C29.9193 8.95833 23.8804 3 16.4598 3Z' fill='%23191819'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3_2348'%3E%3Crect width='27' height='26' fill='white' transform='translate(3 3)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.icon-html.pink,
.icon-adobe.pink {
  filter: invert(58%) sepia(76%) saturate(926%) hue-rotate(279deg) brightness(94%) contrast(99%);
}

.icon-css.blue,
.icon-react.blue {
  filter: invert(72%) sepia(32%) saturate(781%) hue-rotate(128deg) brightness(96%) contrast(87%);
}

.icon-js.yellow,
.icon-bs.yellow {
  filter: invert(88%) sepia(76%) saturate(7485%) hue-rotate(325deg) brightness(96%) contrast(96%);
}

.icon-figma.lilac {
  filter: invert(84%) sepia(7%) saturate(4602%) hue-rotate(191deg) brightness(94%) contrast(95%);
}

.icon-figma.off-white,
.icon-react.off-white,
.icon-js.off-white {
  filter: invert(100%) sepia(0%) saturate(6977%) hue-rotate(175deg) brightness(109%) contrast(70%);
}

.icon {
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-md {
  height: 48px;
  width: 48px;
}

.icon-lg {
  width: 70px;
  height: 70px;
}

/* - *** --- *** --- MEDIA QUERIES --- *** --- *** - */

/* ----------- DESKTOP  ---------- */

@media screen and (min-width: 1024px) {
  /* CSS rules for desktop devices */

  .icon.icon-sm-squiggle {
    display: none;
  }
  .icon-hand {
    height: 162px;
    width: 146px;
    margin-left: 118px;
    margin-top: -30px;
  }

  .contact.contact-md {
    display: none;
  }

  section#skills {
    display: flex;
    flex-direction: column;
    /* align-items: baseline; */
    justify-content: center;
    /* height: 100vh; */
   
        margin-bottom: 150px;
    
  }

  .about-container{
    padding-top: 200px;
}

.skills-container{
    padding-top: 100px;
}

.projects{
    padding-top: 70px;
}
}

/* ----------- TABLET  ---------- */

@media screen and (max-width: 1023px) {
  /* CSS rules for tablet devices */

  section,
  header,
  nav {
    margin: 10px 50px;
  }

  .icon.icon-sm-squiggle {
    display: none;
  }
  /* HERO */

  header {
    display: grid;
    /* grid-auto-columns: 1fr; */
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1fr; */
    gap: 70px 0px;
    grid-template-areas: "text" "image";
    margin-top: 40px;
  }

  .header-right {
    display: none;
  }

  /* ABOUT */

  .about-container {
    margin-top: 150px;
    height: fit-content;
  }

  .btn.btn-md.contact {
    transform: rotate(0deg);
    padding: 0px 10px;
  }

  .icon.icon-hand {
    transform: rotate(90deg);
    width: 80px;
    height: 80px;
  }

  .contact.contact-md {
    display: flex;
    margin-top: 53px;
  }

  .profile-img-wrap ~ p {
    margin-top: 59px;
  }

  /* SKILLS */
  

  .projects-container {
    flex-direction: column;
  }

  .project-img {
    display: none;
}


.project-gif {
    margin: auto;
    display: block;
    /* max-width: 100%; */
    height: fit-content;
    border-radius: 20px;
    object-fit: cover; 
}
}

/* ----------- MOBILE  ---------- */

@media screen and (max-width: 767px) {
  /* CSS rules for mobile devices */

  header {
    margin: 120px 40px;
  }

  section,
  nav {
    margin: 10px 40px;
    justify-content: center;
    margin-top: 32px;
  }

  h2 {
    text-align: center;
    font-size: 28px;
  }

  /* HERO */

  .header-left {
    gap: 17px;
  }

  .icon-sm {
    height: 35px;
    width: 35px;
  }

  ul.nav-list {
    display: none;
  }

  path.squiggle {
    display: none;
  }

  .icon.icon-sm-squiggle {
    display: block;
    right: -78px;
  }

  .arrow.bounce.arrow-1 {
    display: none;
  }

  /* ABOUT */

  section.about-container {
    margin-top: 0;
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1fr; */
    grid-template-areas:
      "image"
      "text";
    height: fit-content;
  }

  .about-hidden {
    height: 0px;
    overflow: hidden;
  }

  .about-hidden.show {
    height: auto;
    overflow: hidden;
  }

  span.more.hide {
    display: none;
  }

  span.less.hide {
    display: none;
  }

  #read-more {
    display: block;
  }

  .profile-img-wrap {
    flex-direction: column-reverse;
    align-items: center;
    
  }

  .social-icons {
    flex-direction: row;
  }

  /* displaying contact hand on mobile */

  .contact.contact-md {
    display: none;
  }

  .contact.contact-sm {
    display: flex;
    /* margin-top: 83px; */
    align-items: center;
    justify-content: center;
    height: 285px;
  }

  /* SKILLS */

  .skills-icon-wrap {
    justify-content: center;
    gap: 50px;
  }

  .skills-list-wrap {
    grid-template-columns: 1fr;
    grid-template-areas:
      "skills1"
      "skills2"
      "skills3";
  }

  .skill-wrap {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    width: 100px;
    margin: auto;
  }

  .skill-wrap {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
  }

  .project-card {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  svg.lilac-arrow {
    display: none;
}

.project-txt {
    text-align: center;
}

.project-btn {
    margin: 38px auto;
}

.projects-container {
    margin-top: 74px;
}

img.project-img {
    max-width: 100%;
}



}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 3rem;
  background-color: #191819;
  padding-left: 100%;
  box-sizing: content-box;
  padding-top: 20px;
}

.ticker {
  display: inline-block;
  height: 2rem;
  line-height: 2rem;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 30000ms;
  animation-duration: 30000ms;
}

.ticker__item {
  display: inline-block;

  padding: 0 27rem;
  font-size: 1rem;
  color: white;
}
